 h1{
  background-color: rgb(4, 0, 87);
  text-align: center;
  color: white;
  padding: 25px;
  font-weight: bold;
  font-family: Arial;
  border-radius: 10px;
  margin-right: 100px;
  margin-left: 100px;
 }
 h2{
  background-color: rgb(4, 0, 87);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
  margin-left: 100px;
 }
 h3{
  background-color: rgb(4, 0, 87);
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
  margin-left: 100px;
 }
 h4{
  background-color: rgb(4, 0, 87);
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
  margin-left: 100px;
 }

.work-exp{
  background-color: rgb(92, 71, 255);
  color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  margin-right: 100px;
  margin-left: 100px;
}

button{
  border: 2px solid blue;
  background-color: white;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  border-radius: 10px;
  padding: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px;
}
button:hover{
    border-color: white;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px;
    padding: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
}
.button-container {
  display: flex;
  justify-content: center;
}

body{
  background-color: rgb(52, 52, 52);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.pre-career{
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  
}
.schoo-exp{
  background-color: rgb(92, 71, 255);
  color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  margin-right: 100px;
  margin-left: 100px;
}
.schoo{
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
}
.column {
  float: left;
  width: 50%;
}
.top10{
  background-color: rgb(92, 71, 255);
  color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  margin-right: 100px;
  margin-left: 100px;
}
footer{
  background-color: rgb(4, 0, 87);
  padding: 15px;
  border-radius: 10px;
  flex-shrink: 0;
  margin-top: 250px;
  margin-right: 100px;
  margin-left: 100px;
 }
 .footer-info{
  color: white;
  text-align: right;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
 }
.footer-clicking{
  display: flex;
  gap: 10px;
}
.footer-container1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}